@model usue_online_tests.Models.View.ProfileWrapper

@{
    ViewData["Title"] = "Профиль";
}

<div class="prose">
    <h1>Профиль</h1>
    <h2 class="mt-4">Здравствуйте, @Model.User.Name</h2>
    <h3 class="mb-8">@Model.User.Group</h3>
</div>

<div class="overflow-x-auto">
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title">Доступно тестов</div>
            <div class="stat-value">0</div>
        </div>
        <div class="stat">
            <div class="stat-title">Пройдено тестов</div>
            <div class="stat-value">0</div>
        </div>
        <div class="stat">
            <div class="stat-title">Коэффициент понимания</div>
            <div class="stat-value">0</div>
        </div>
    </div>
</div>

@if (Model.ExamResults != null)
{
    foreach (var examResult in Model.ExamResults)
    {
        <div style="border: 1px solid black">
            <b>Название теста:</b>
            <p>@examResult.Exam.Preset.Name</p>
            <b>Время прохождения:</b>
            <p>@examResult.DateTimeStart</p>
            <b>Результат прохождени:</b>
            <p>@examResult.ExamTestAnswers.Where(answer => answer.CorrectAnswers != -1).Select(answer => answer.CorrectAnswers).Sum()/@examResult.ExamTestAnswers.Where(answer => answer.CorrectAnswers != -1).Select(answer => answer.TotalAnswers).Sum()</p>
        </div>
    }
}