@model usue_online_tests.Models.View.ProfileWrapper

@{
    ViewData["Title"] = "Профиль";
}

<div class="prose">
    <h1>Профиль</h1>
    <h2 class="mt-4">Здравствуйте, @Model.User.Name</h2>
    <h3 class="mb-8">@Model.User.Group</h3>
</div>

<div class="overflow-x-auto">
    <div class="stats shadow">
        <div class="stat">
            <div class="stat-title">Доступно тестов</div>
            <div class="stat-value">0</div>
        </div>
        <div class="stat">
            <div class="stat-title">Пройдено тестов</div>
            <div class="stat-value">0</div>
        </div>
        <div class="stat">
            <div class="stat-title">Коэффициент понимания</div>
            <div class="stat-value">0</div>
        </div>
    </div>
</div>

@if (Model.ExamResults != null)
{
    <div class="grid gap-4 sm:grid-cols-2 mt-12">
        @foreach (var examResult in Model.ExamResults)
        {
            var solved = examResult.ExamTestAnswers
            .Where(answer => answer.CorrectAnswers != -1)
            .Select(answer => answer.CorrectAnswers)
            .Sum();

            var total = examResult.ExamTestAnswers
            .Where(answer => answer.CorrectAnswers != -1)
            .Select(answer => answer.TotalAnswers)
            .Sum();

            <a class="card bg-base-100 shadow-md hover:shadow-lg" href="#">
                <div class="card-body">
                    <h2 class="card-title">@examResult.Exam.Preset.Name</h2>
                    <p class="font-bold">
                        Выдано: <span class="font-normal">@examResult.DateTimeStart.ToString("dd.MM.yyyy")</span>
                    </p>
                    @if (solved > 0)
                    {
                        <progress class="progress progress-primary w-full mt-4" value="@solved" max="@total"></progress>
                    }
                </div>
            </a>
        }
    </div>
}