@model usue_online_tests.Models.View.ProfileWrapper

@{
    ViewData["Title"] = "Профиль";
}

<h1 class="text-3xl font-bold">Профиль</h1>
<div class="mt-8 space-y-3">
    <p class="font-bold text-lg">Имя: <span class="font-normal">@Model.User.Name<span></p>
    <p class="font-bold text-lg">Логин: <span class="font-normal">@Model.User.Login<span></p>
    <p class="font-bold text-lg">Группа: <span class="font-normal">@Model.User.Group<span></p>
    <p class="font-bold text-lg">Роль: <span class="font-normal">@Model.User.Role<span></p>
</div>

@if (Model.ExamResults != null)
{
    foreach (var examResult in Model.ExamResults)
    {
        <div style="border: 1px solid black">
            <b>Название теста:</b>
            <p>@examResult.Exam.Preset.Name</p>
            <b>Время прохождения:</b>
            <p>@examResult.DateTimeStart</p>
            <b>Результат прохождени:</b>
            <p>@examResult.ExamTestAnswers.Where(answer => answer.CorrectAnswers != -1).Select(answer => answer.CorrectAnswers).Sum()/@examResult.ExamTestAnswers.Where(answer => answer.CorrectAnswers != -1).Select(answer => answer.TotalAnswers).Sum()</p>
        </div>
    }
}