@model usue_online_tests.Models.ExamTestAnswer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExamTestAnswer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAnswers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CorrectAnswers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAnswers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAnswers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
