@model IEnumerable<usue_online_tests.Models.UserExamResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExamTestAnswers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.Preset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.Id)
                </td>
                <td>
                    @string.Join(',', item.ExamTestAnswers.Select(answer => answer.Id))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.Preset.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
